---
import SiteLayout from '@/components/layout/SiteLayout.astro';
---

<SiteLayout title="About - Chengke Zha">
  <div class="px-[80px] py-[120px]">
    <div class="text-[72px] leading-[1.3em] tracking-[-0.03em] font-medium text-black/40">About.</div>
  </div>
</SiteLayout>
